@charset "UTF-8";

.hotellist_box{
	position:relative;
	width:100%;
	height:176px;
	background-color:#FFF;
	border-top:dotted 1px #d7d7d7;
	color:#444444;
}

/* 2018.08.24 kang 호텔등급 변경 시작 */

.list_grade{
	position: relative;
	top: 0;
	display: inline-block;
	width: auto;
	height: 22px;
	margin-top: 2px;
}
.list_grade span{
	position: relative;
	top: 0;
	left: 0;
	line-height: 22px;
	font-size: 13px;
	margin-right: 3px;
}
.hotelgrade{
	position: relative;
	top: 0;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	margin-right: 10px;
}
.list_icon{
	position: relative;
	top: 0;
	display: inline-block;
	width: auto;
	height: 22px;
	font-size: 12px;
	line-height: 22px;
	color: #fff;
	margin-top: 2px;
	font-family: 'NanumSquareRound', sans-serif;
}
/* ico style */

.list_ico01{
	width: auto;
	background-color:#3cb878;
	border:solid 1px #3cb878;
	padding:0px 3px;
	margin-right:2px;
	font-weight: 600;
}
.list_ico02{
	width: auto;
	background-color:#b53735;
	border:solid 1px #b53735;
	padding:0px 3px;
	margin-right:2px;
	font-weight: 600;
}

.list_ico03{
	width: auto;
	background-color:#173390;
	border:solid 1px #173390;
	padding:0px 3px;
	margin-right:2px;
	font-weight: 600;
}

.list_ico04{
	width: auto;
	/*border:solid 1px #4c3188; 2019041811069 kay */
	background-color:#fff;
	color:#444444;
	padding:0px 3px;
	margin-right:2px;
	font-weight: 600;
}


/**/

.list_adrs{
	position:relative;
	left:0;
	width:400px;
	height:22px;
	font-size:13px;
}

.list_adrs p{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

/* 2018.08.24 kang 호텔등급 변경 끝 */

.list_review{
	position:absolute;
	left:0;
	bottom:14px;
	width:auto;
	height:14px;
	padding:4px 6px;
	border-radius:3px;
	font-size:10.5px;
	color:#09af89;
	float:right;
}
.list_review img{
	float:left;
	margin-right:5px;
}
.list_info{
	position:absolute;
	left:170px;
	bottom:15px;
	width:auto;
	height:22px;
	text-align:center;
}
.list_imgview{
	position:absolute;
	left:260px;
	bottom:15px;
	width:auto;
	height:22px;
	text-align:center;
}
.list_map{
	position:absolute;
	left:355px;
	bottom:15px;
	width:auto;
	height:22px;
	text-align:center;
}
.list_info p,.list_imgview p,.list_map p{
	font-size:13px;
	font-weight:500;
	padding:2px 6px;
	border-radius:3px;
}
.listbox_price{
	position:absolute;
	top:0;
	left:500px;
	width:180px;
	height:176px;
	color:#d11717;
	padding:20px 25px;
	background-color:#f5f5f5;
	cursor:pointer;
}

.listbox_price p{
	position:relative;
	top:0;
	font-size:14px;
	text-align:right;
}
.listbox_price .current_coin{
	font-size:16px;
	font-weight:500;
}

/* 2018.08.24 kang 가격 폰트 수정 시작 */
.listbox_price .pricevalue{
	font-size:22px;
	font-weight:600;
	font-family: Tahoma, Verdana, sans-serif;
	letter-spacing: -0.5px;
}

.hotelpage{
	margin-top:55px;
	position:relative;
	width:900px;
	height:60px;
}

/* 2018.08.24 kang 페이지 네비 레이아웃 수정 시작 */
.page_navi{
	position:relative;
	left: 50%;
	transform: translate(-50%,0);
	bottom:0px;
	width:auto;
	height:22px;
	font-weight:500;
	color:#444444;
	text-align: center;
}
/* 2018.08.24 kang 페이지 네비 레이아웃 수정 끝 */

.page_navi td{
	width:20px;
	padding:0px 2px 0px 2px;
	text-align:center;
}
.page_navi td img{
	cursor:pointer;
}
.page_navi td span{
	display:block;
	width:20px;
	height:20px;
	float:left;
	border-radius:3px;
	cursor:pointer;
}
.pagenumber.active{
	background-color:#e6e6e6;
}

.no_result{
	position:relative;
	width:100%;
	height:103px;
	text-align:center;
	border-top:solid 1px #d8d8d8;
	border-bottom:solid 1px #d8d8d8;
	font-size:15px;
	margin-bottom:1300px;
	padding-top:70px;
}


.filter_origin{
	position:relative;
	top:0;
	left:0;
}

.sub_list_filter_title{
	width:240px;
	height:48px;
	border-top:solid 1px #d7d7d7;
}

.sub_list_filter_convention{
	width:240px;
	height:293px;
	padding-top:10px;
	border-top:dotted 1px #d7d7d7;
}
.sub_list_filter_banner{
	width:240px;
	height:372px;
	border-top:solid 1px #d7d7d7;
}
.sub_list_filter_nav{
	display:none;
	position:fixed;
	top:80px;
	left:50%;
	margin-left:-600px;
	width:200px;
	height:30px;
	background-color:#f4b225;
	border:0;
	border-radius:5px;
	color:#fff;
	text-align:center;
	line-height:30px;
	cursor:pointer;
	box-shadow:0 3px 3px #d3d3d3;
}
.fitfixed{
	position:fixed;
	top:110px;
	left:50%;
	margin-left:-600px;
	animation: fadein .5s;
    -moz-animation: fadein .5s;
    -webkit-animation: fadein .5s; 
    -o-animation: fadein .5s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

#sortprice,#sortname,#sortgrade{
	cursor:pointer;
}
.sub_list_sort {
    position: absolute;
    top: 10px;
    right: 0;
}
.listbox_img{
	position:absolute;
	left:0;
	width:216px;
	height:156.5px;
	padding-top:19.5px;
}
.listbox_title{
	position:absolute;
	left:216px;
	width:454px;
	height:156.5px;
	padding-top:19.5px;
}
.list_name{
	width: 430px;
	height: 30px;
	font-size: 20px;
	letter-spacing: -0.5px;
	cursor: pointer;
}
.list_name p{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font-weight:700;
	padding-top: 2px;
}
.hotel{
	position:relative;
	width:100%;
	height:auto;
}
.hotellist{
	position:relative;
	width:900px;
	height:auto;
}

.sub_list_hotellist{
	width:100%;
	height:auto;
}
.incontents_area{
	position:relative;
	left:50%;
	margin-left:-300px;
	width:900px;
	height:auto;
	float:left;
}

.sub_list_filter_location{
	width:240px;
	height:76px;
	padding-top:10px;
	border-top:dotted 1px #d7d7d7;
}
.sub_list_filter_price{
	width:240px;
	height:180px;
	padding-top:10px;
	border-top:dotted 1px #d7d7d7;
}
.sub_list_filter_grade{
	width:240px;
	height:118px;
	padding-top:10px;
	border-top:dotted 1px #d7d7d7;
}
.sub_list_filter_name{
	width:240px;
	height:81px;
	padding-top:10px;
}
.sub_list_filter_result{
	width:100%;
	height:156px;
}
.filter_area{
	position:relative;
	left:50%;
	margin-left:-600px;
	width:300px;
	height:1410px;
	float:left;
}
.sortcriteria{
	color:#454545;
}
.sortcriteria.active{
	color:#4c3188;
	font-weight:700;
}
.sorting_text {
	font-size:14px;
	color:#444444;
	font-weight:500;
}
.sorting_area{
	position:relative;
	max-width:1400px;
	height:40px;
}
.middle1 {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 1400px;
    }
    
.sub_list_sort {
	position:absolute;
	top:10px;
	right:0;
}


input[id*="popup0"]{
	display:none;
}

input[id*="popup0"] + label {
	display: inline-block;
	padding: 14px;
	background: #ffcd41;
	border-radius: 100%;
	color: #fff;
}

input[id*="popup0"] + label + div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

input[id*="popup0"] + label + div {
	opacity: 0; visibility: hidden;
}

input[id*="popup0"]:checked + label + div {
	opacity: 1;visibility: visible;
}

input[id*="popup0"] + label + div > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	width: 500px;
	height: 300px;
	background: #fff;
	border-radius: 5%;
	z-index: 2;
	text-align: center;
	align-content: center;
}

input[id*="popup0"] + label + div > div > label {
	position: absolute;
	top: 0%;
	left: 0%;
	transform:translate(-40%,-40%);
	padding: 12px;
	color : #fff;
	background: #dd5347;
	border-radius: 100%;
	z-index: 1;
}

input[id*="popup0"] + label + div > label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.2);
	z-index: 1;
}
input[id*="popup1"]{
	display:none;
}

input[id*="popup1"] + label {
	display: inline-block;
	padding: 14px;
	background: #ffcd41;
	border-radius: 100%;
	color: #fff;
}

input[id*="popup1"] + label + div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

input[id*="popup1"] + label + div {
	opacity: 0; visibility: hidden;
}

input[id*="popup1"]:checked + label + div {
	opacity: 1;visibility: visible;
}

input[id*="popup1"] + label + div > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	width: 500px;
	height: 300px;
	background: #fff;
	border-radius: 5%;
	z-index: 2;
	text-align: center;
	align-content: center;
}

input[id*="popup1"] + label + div > div > label {
	position: absolute;
	top: 0%;
	left: 0%;
	transform:translate(-40%,-40%);
	padding: 12px;
	color : #fff;
	background: #dd5347;
	border-radius: 100%;
	z-index: 1;
}

input[id*="popup1"] + label + div > label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.2);
	z-index: 1;
}

input[id*="popup2"]{
	display:none;
}

input[id*="popup2"] + label {
	display: inline-block;
	padding: 14px;
	background: #ffcd41;
	border-radius: 100%;
	color: #fff;
}

input[id*="popup2"] + label + div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

input[id*="popup2"] + label + div {
	opacity: 0; visibility: hidden;
}

input[id*="popup2"]:checked + label + div {
	opacity: 1;visibility: visible;
}

input[id*="popup2"] + label + div > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	width: 500px;
	height: 300px;
	background: #fff;
	border-radius: 5%;
	z-index: 2;
	text-align: center;
	align-content: center;
}

input[id*="popup2"] + label + div > div > label {
	position: absolute;
	top: 0%;
	left: 0%;
	transform:translate(-40%,-40%);
	padding: 12px;
	color : #fff;
	background: #dd5347;
	border-radius: 100%;
	z-index: 1;
}

input[id*="popup2"] + label + div > label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.2);
	z-index: 1;
}
input[id*="popup3"]{
	display:none;
}

input[id*="popup3"] + label {
	display: inline-block;
	padding: 14px;
	background: #ffcd41;
	border-radius: 100%;
	color: #fff;
}

input[id*="popup3"] + label + div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

input[id*="popup3"] + label + div {
	opacity: 0; visibility: hidden;
}

input[id*="popup3"]:checked + label + div {
	opacity: 1;visibility: visible;
}

input[id*="popup3"] + label + div > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	width: 500px;
	height: 300px;
	background: #fff;
	border-radius: 5%;
	z-index: 2;
	text-align: center;
	align-content: center;
}

input[id*="popup3"] + label + div > div > label {
	position: absolute;
	top: 0%;
	left: 0%;
	transform:translate(-40%,-40%);
	padding: 12px;
	color : #fff;
	background: #dd5347;
	border-radius: 100%;
	z-index: 1;
}

input[id*="popup3"] + label + div > label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.2);
	z-index: 1;
}
input[id*="popup4"]{
	display:none;
}

input[id*="popup4"] + label {
	display: inline-block;
	padding: 14px;
	background: #ffcd41;
	border-radius: 100%;
	color: #fff;
}

input[id*="popup4"] + label + div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

input[id*="popup4"] + label + div {
	opacity: 0; visibility: hidden;
}

input[id*="popup4"]:checked + label + div {
	opacity: 1;visibility: visible;
}

input[id*="popup4"] + label + div > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	width: 500px;
	height: 300px;
	background: #fff;
	border-radius: 5%;
	z-index: 2;
	text-align: center;
	align-content: center;
}

input[id*="popup4"] + label + div > div > label {
	position: absolute;
	top: 0%;
	left: 0%;
	transform:translate(-40%,-40%);
	padding: 12px;
	color : #fff;
	background: #dd5347;
	border-radius: 100%;
	z-index: 1;
}

input[id*="popup4"] + label + div > label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.2);
	z-index: 1;
}
input[id*="popup5"]{
	display:none;
}

input[id*="popup5"] + label {
	display: inline-block;
	padding: 14px;
	background: #ffcd41;
	border-radius: 100%;
	color: #fff;
}

input[id*="popup5"] + label + div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

input[id*="popup5"] + label + div {
	opacity: 0; visibility: hidden;
}

input[id*="popup5"]:checked + label + div {
	opacity: 1;visibility: visible;
}

input[id*="popup5"] + label + div > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	width: 500px;
	height: 300px;
	background: #fff;
	border-radius: 5%;
	z-index: 2;
	text-align: center;
	align-content: center;
}

input[id*="popup5"] + label + div > div > label {
	position: absolute;
	top: 0%;
	left: 0%;
	transform:translate(-40%,-40%);
	padding: 12px;
	color : #fff;
	background: #dd5347;
	border-radius: 100%;
	z-index: 1;
}

input[id*="popup5"] + label + div > label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.2);
	z-index: 1;
}
input[id*="popup6"]{
	display:none;
}

input[id*="popup6"] + label {
	display: inline-block;
	padding: 14px;
	background: #ffcd41;
	border-radius: 100%;
	color: #fff;
}

input[id*="popup6"] + label + div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

input[id*="popup6"] + label + div {
	opacity: 0; visibility: hidden;
}

input[id*="popup6"]:checked + label + div {
	opacity: 1;visibility: visible;
}

input[id*="popup6"] + label + div > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	width: 500px;
	height: 300px;
	background: #fff;
	border-radius: 5%;
	z-index: 2;
	text-align: center;
	align-content: center;
}

input[id*="popup6"] + label + div > div > label {
	position: absolute;
	top: 0%;
	left: 0%;
	transform:translate(-40%,-40%);
	padding: 12px;
	color : #fff;
	background: #dd5347;
	border-radius: 100%;
	z-index: 1;
}

input[id*="popup6"] + label + div > label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.2);
	z-index: 1;
}
input[id*="popup7"]{
	display:none;
}

input[id*="popup7"] + label {
	display: inline-block;
	padding: 14px;
	background: #ffcd41;
	border-radius: 100%;
	color: #fff;
}

input[id*="popup7"] + label + div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

input[id*="popup7"] + label + div {
	opacity: 0; visibility: hidden;
}

input[id*="popup7"]:checked + label + div {
	opacity: 1;visibility: visible;
}

input[id*="popup7"] + label + div > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	width: 500px;
	height: 300px;
	background: #fff;
	border-radius: 5%;
	z-index: 2;
	text-align: center;
	align-content: center;
}

input[id*="popup7"] + label + div > div > label {
	position: absolute;
	top: 0%;
	left: 0%;
	transform:translate(-40%,-40%);
	padding: 12px;
	color : #fff;
	background: #dd5347;
	border-radius: 100%;
	z-index: 1;
}

input[id*="popup7"] + label + div > label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.2);
	z-index: 1;
}
input[id*="popup8"]{
	display:none;
}

input[id*="popup8"] + label {
	display: inline-block;
	padding: 14px;
	background: #ffcd41;
	border-radius: 100%;
	color: #fff;
}

input[id*="popup8"] + label + div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

input[id*="popup8"] + label + div {
	opacity: 0; visibility: hidden;
}

input[id*="popup8"]:checked + label + div {
	opacity: 1;visibility: visible;
}

input[id*="popup8"] + label + div > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	width: 500px;
	height: 300px;
	background: #fff;
	border-radius: 5%;
	z-index: 2;
	text-align: center;
	align-content: center;
}

input[id*="popup8"] + label + div > div > label {
	position: absolute;
	top: 0%;
	left: 0%;
	transform:translate(-40%,-40%);
	padding: 12px;
	color : #fff;
	background: #dd5347;
	border-radius: 100%;
	z-index: 1;
}

input[id*="popup8"] + label + div > label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.2);
	z-index: 1;
}
input[id*="popup9"]{
	display:none;
}

input[id*="popup9"] + label {
	display: inline-block;
	padding: 14px;
	background: #ffcd41;
	border-radius: 100%;
	color: #fff;
}

input[id*="popup9"] + label + div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

input[id*="popup9"] + label + div {
	opacity: 0; visibility: hidden;
}

input[id*="popup9"]:checked + label + div {
	opacity: 1;visibility: visible;
}

input[id*="popup9"] + label + div > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	width: 500px;
	height: 300px;
	background: #fff;
	border-radius: 5%;
	z-index: 2;
	text-align: center;
	align-content: center;
}

input[id*="popup9"] + label + div > div > label {
	position: absolute;
	top: 0%;
	left: 0%;
	transform:translate(-40%,-40%);
	padding: 12px;
	color : #fff;
	background: #dd5347;
	border-radius: 100%;
	z-index: 1;
}

input[id*="popup9"] + label + div > label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.2);
	z-index: 1;
}
input[id*="popup_0"]{
	display:none;
}

input[id*="popup_0"] + label {
	display: inline-block;
	padding: 14px;
	background: #ffcd41;
	border-radius: 100%;
	color: #fff;
}

input[id*="popup_0"] + label + div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

input[id*="popup_0"] + label + div {
	opacity: 0; visibility: hidden;
}

input[id*="popup_0"]:checked + label + div {
	opacity: 1;visibility: visible;
}

input[id*="popup_0"] + label + div > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	width: 500px;
	height: 300px;
	background: #fff;
	border-radius: 5%;
	z-index: 2;
	text-align: center;
	align-content: center;
}

input[id*="popup_0"] + label + div > div > label {
	position: absolute;
	top: 0%;
	left: 0%;
	transform:translate(-40%,-40%);
	padding: 12px;
	color : #fff;
	background: #dd5347;
	border-radius: 100%;
	z-index: 1;
}

input[id*="popup_0"] + label + div > label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.2);
	z-index: 1;
}
input[id*="popup_1"]{
	display:none;
}

input[id*="popup_1"] + label {
	display: inline-block;
	padding: 14px;
	background: #ffcd41;
	border-radius: 100%;
	color: #fff;
}

input[id*="popup_1"] + label + div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

input[id*="popup_1"] + label + div {
	opacity: 0; visibility: hidden;
}

input[id*="popup_1"]:checked + label + div {
	opacity: 1;visibility: visible;
}

input[id*="popup_1"] + label + div > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	width: 500px;
	height: 300px;
	background: #fff;
	border-radius: 5%;
	z-index: 2;
	text-align: center;
	align-content: center;
}

input[id*="popup_1"] + label + div > div > label {
	position: absolute;
	top: 0%;
	left: 0%;
	transform:translate(-40%,-40%);
	padding: 12px;
	color : #fff;
	background: #dd5347;
	border-radius: 100%;
	z-index: 1;
}

input[id*="popup_1"] + label + div > label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.2);
	z-index: 1;
}
input[id*="popup_2"]{
	display:none;
}

input[id*="popup_2"] + label {
	display: inline-block;
	padding: 14px;
	background: #ffcd41;
	border-radius: 100%;
	color: #fff;
}

input[id*="popup_2"] + label + div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

input[id*="popup_2"] + label + div {
	opacity: 0; visibility: hidden;
}

input[id*="popup_2"]:checked + label + div {
	opacity: 1;visibility: visible;
}

input[id*="popup_2"] + label + div > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	width: 500px;
	height: 300px;
	background: #fff;
	border-radius: 5%;
	z-index: 2;
	text-align: center;
	align-content: center;
}

input[id*="popup_2"] + label + div > div > label {
	position: absolute;
	top: 0%;
	left: 0%;
	transform:translate(-40%,-40%);
	padding: 12px;
	color : #fff;
	background: #dd5347;
	border-radius: 100%;
	z-index: 1;
}

input[id*="popup_2"] + label + div > label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.2);
	z-index: 1;
}
input[id*="popup_3"]{
	display:none;
}

input[id*="popup_3"] + label {
	display: inline-block;
	padding: 14px;
	background: #ffcd41;
	border-radius: 100%;
	color: #fff;
}

input[id*="popup_3"] + label + div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

input[id*="popup_3"] + label + div {
	opacity: 0; visibility: hidden;
}

input[id*="popup_3"]:checked + label + div {
	opacity: 1;visibility: visible;
}

input[id*="popup_3"] + label + div > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	width: 500px;
	height: 300px;
	background: #fff;
	border-radius: 5%;
	z-index: 2;
	text-align: center;
	align-content: center;
}

input[id*="popup_3"] + label + div > div > label {
	position: absolute;
	top: 0%;
	left: 0%;
	transform:translate(-40%,-40%);
	padding: 12px;
	color : #fff;
	background: #dd5347;
	border-radius: 100%;
	z-index: 1;
}

input[id*="popup_3"] + label + div > label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.2);
	z-index: 1;
}
input[id*="popup_4"]{
	display:none;
}

input[id*="popup_4"] + label {
	display: inline-block;
	padding: 14px;
	background: #ffcd41;
	border-radius: 100%;
	color: #fff;
}

input[id*="popup_4"] + label + div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

input[id*="popup_4"] + label + div {
	opacity: 0; visibility: hidden;
}

input[id*="popup_4"]:checked + label + div {
	opacity: 1;visibility: visible;
}

input[id*="popup_4"] + label + div > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	width: 500px;
	height: 300px;
	background: #fff;
	border-radius: 5%;
	z-index: 2;
	text-align: center;
	align-content: center;
}

input[id*="popup_4"] + label + div > div > label {
	position: absolute;
	top: 0%;
	left: 0%;
	transform:translate(-40%,-40%);
	padding: 12px;
	color : #fff;
	background: #dd5347;
	border-radius: 100%;
	z-index: 1;
}

input[id*="popup_4"] + label + div > label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.2);
	z-index: 1;
}
input[id*="popup_5"]{
	display:none;
}

input[id*="popup_5"] + label {
	display: inline-block;
	padding: 14px;
	background: #ffcd41;
	border-radius: 100%;
	color: #fff;
}

input[id*="popup_5"] + label + div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

input[id*="popup_5"] + label + div {
	opacity: 0; visibility: hidden;
}

input[id*="popup_5"]:checked + label + div {
	opacity: 1;visibility: visible;
}

input[id*="popup_5"] + label + div > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	width: 500px;
	height: 300px;
	background: #fff;
	border-radius: 5%;
	z-index: 2;
	text-align: center;
	align-content: center;
}

input[id*="popup_5"] + label + div > div > label {
	position: absolute;
	top: 0%;
	left: 0%;
	transform:translate(-40%,-40%);
	padding: 12px;
	color : #fff;
	background: #dd5347;
	border-radius: 100%;
	z-index: 1;
}

input[id*="popup_5"] + label + div > label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.2);
	z-index: 1;
}
input[id*="popup_6"]{
	display:none;
}

input[id*="popup_6"] + label {
	display: inline-block;
	padding: 14px;
	background: #ffcd41;
	border-radius: 100%;
	color: #fff;
}

input[id*="popup_6"] + label + div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

input[id*="popup_6"] + label + div {
	opacity: 0; visibility: hidden;
}

input[id*="popup_6"]:checked + label + div {
	opacity: 1;visibility: visible;
}

input[id*="popup_6"] + label + div > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	width: 500px;
	height: 300px;
	background: #fff;
	border-radius: 5%;
	z-index: 2;
	text-align: center;
	align-content: center;
}

input[id*="popup_6"] + label + div > div > label {
	position: absolute;
	top: 0%;
	left: 0%;
	transform:translate(-40%,-40%);
	padding: 12px;
	color : #fff;
	background: #dd5347;
	border-radius: 100%;
	z-index: 1;
}

input[id*="popup_6"] + label + div > label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.2);
	z-index: 1;
}
input[id*="popup_7"]{
	display:none;
}

input[id*="popup_7"] + label {
	display: inline-block;
	padding: 14px;
	background: #ffcd41;
	border-radius: 100%;
	color: #fff;
}

input[id*="popup_7"] + label + div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

input[id*="popup_7"] + label + div {
	opacity: 0; visibility: hidden;
}

input[id*="popup_7"]:checked + label + div {
	opacity: 1;visibility: visible;
}

input[id*="popup_7"] + label + div > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	width: 500px;
	height: 300px;
	background: #fff;
	border-radius: 5%;
	z-index: 2;
	text-align: center;
	align-content: center;
}

input[id*="popup_7"] + label + div > div > label {
	position: absolute;
	top: 0%;
	left: 0%;
	transform:translate(-40%,-40%);
	padding: 12px;
	color : #fff;
	background: #dd5347;
	border-radius: 100%;
	z-index: 1;
}

input[id*="popup_7"] + label + div > label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.2);
	z-index: 1;
}
input[id*="popup_8"]{
	display:none;
}

input[id*="popup_8"] + label {
	display: inline-block;
	padding: 14px;
	background: #ffcd41;
	border-radius: 100%;
	color: #fff;
}

input[id*="popup_8"] + label + div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

input[id*="popup_8"] + label + div {
	opacity: 0; visibility: hidden;
}

input[id*="popup_8"]:checked + label + div {
	opacity: 1;visibility: visible;
}

input[id*="popup_8"] + label + div > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	width: 500px;
	height: 300px;
	background: #fff;
	border-radius: 5%;
	z-index: 2;
	text-align: center;
	align-content: center;
}

input[id*="popup_8"] + label + div > div > label {
	position: absolute;
	top: 0%;
	left: 0%;
	transform:translate(-40%,-40%);
	padding: 12px;
	color : #fff;
	background: #dd5347;
	border-radius: 100%;
	z-index: 1;
}

input[id*="popup_8"] + label + div > label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.2);
	z-index: 1;
}
input[id*="popup_9"]{
	display:none;
}

input[id*="popup_9"] + label {
	display: inline-block;
	padding: 14px;
	background: #ffcd41;
	border-radius: 100%;
	color: #fff;
}

input[id*="popup_9"] + label + div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

input[id*="popup_9"] + label + div {
	opacity: 0; visibility: hidden;
}

input[id*="popup_9"]:checked + label + div {
	opacity: 1;visibility: visible;
}

input[id*="popup_9"] + label + div > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	width: 500px;
	height: 300px;
	background: #fff;
	border-radius: 5%;
	z-index: 2;
	text-align: center;
	align-content: center;
}

input[id*="popup_9"] + label + div > div > label {
	position: absolute;
	top: 0%;
	left: 0%;
	transform:translate(-40%,-40%);
	padding: 12px;
	color : #fff;
	background: #dd5347;
	border-radius: 100%;
	z-index: 1;
}

input[id*="popup_9"] + label + div > label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.2);
	z-index: 1;
}